meta(property="og:type" content="website")
meta(property="vk:description" content="#{description}")
meta(property="og:description" content="#{description}")
meta(property="og:url" content="https://#{promo}.101xp.com/")
meta(property="vk:image" content="https://#{promo}.101xp.com/images/socials/#{locale}/14Feb.jpg")
meta(property="og:image" content="https://#{promo}.101xp.com/images/socials/#{locale}/14Feb.jpg")
meta(property="og:title" content="#{title}")